.idea/
.vscode/
node_modules/
build/
dist/
tmp/
temp/

database/*

scripts/scripts

log/*

/config
.env
.DS_Store
yarn-error.log

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
https://sonu0702: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@github.com/sonu0702/s3upload.git